@model IEnumerable<VehicleImage>

@if (!Model.Any())
{
    <div class="alert alert-light" role="alert">No Vehicle Images found</div>
}
else
{
    <table id="vehicleImagesList" class="table table-sm box-shadow rounded">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ImageId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Speed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Acceleration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.X)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Y)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Latitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Speed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Acceleration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.X)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Y)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}